html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Architects Daughter', cursive, "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #E5E5E5;
  color: #222;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 1220px;
  padding-left: 25px;
  padding-right: 25px;
  margin-left: auto;
  margin-right: auto;
  /* box-shadow: 0 10px 20px -10px rgba(0, 0, 0, 0.1); */
}

.container-flex {
  display: flex;
  align-items: center;
  background-color: #fff;
}

.site-logo {
  margin-right: 33px;
}

.site-logo img {
  display: block;
}

.site-navbar {
  padding: 22px 0;
}

.nav-list {
  max-width: 749px;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.list-item {
  position: relative;
}

.nav-link {
  text-decoration: none;
  color: #808080;
  padding: 0 12px;
  font-size: 18px;
  line-height: 30px;
}

.nav-link:hover::before,
.active::before {
  position: absolute;
  top: 100%;
  left: 0;
  height: 2px;
  width: 100%;
  content: "";
  display: block;
  background-color: #000;
}

.active-link {
  color: #000;
  font-weight: 520;
}

.nav-right-section {
  margin-left: auto;
}

.pitr-link {
  text-decoration: none;
  color: #808080;
  display: flex;
  align-items: center;
  font-size: 14px;
  margin-bottom: 10px;
  margin-left: 20px;
}


.pitr-link::before {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  background-image: url("../img/geo.svg");
  background-repeat: no-repeat;
  background-position: center center;
  margin-right: 10px;
}

.bottom {
  display: flex;
  align-items: center;
}

.kirish {
  text-decoration: none;
  color: #00D36D;
  border: 2px solid #00D36D;
  border-radius: 10px;
  padding: 10px 25px;
  margin-left: 20px;
}

.search-btn {
  background-color: transparent;
  border: none;
}

.search-input {
  max-width: 55px;
  border: none;
  border-bottom: 1px solid #808080;
  display: none;
}

      /* MAIN  SECTION */

.main-bgcolor{
  background-color: #F2F4F7;
}

.partnyori-title {
  margin: 0;
  padding: 70px 0 50px 0;
  width: 100%;
  text-align: center;
  font-size: 48px;
}

.partnyori-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
}

.partnyori-link {
  display: inline-block;
  text-decoration: none;
  color: #000;
  font-size: 18px;
  padding: 15px 12px;
  background-color: #fff;
  margin-right: 8px;
  margin-bottom: 10px;
  border-radius: 8px;
}

.partnyori-active-link {
  background-color: #00D36D;
  color: #fff;
}

.partnyori-btn {
  border: none;
  cursor: pointer;
  padding: 19px 10px;
}

    /* RADIO BUTTONS */


.zzz{
  display: flex;
  align-items: center;
}

.radio-label {
  display: block;
  font-size: 18px;
  width: 110px;
  text-align: center;
}

.radio-1,
.radio-2 {
  display: none;
}

.label-1 {
  position: relative;
  margin-left: auto;
  margin-right: 45px;
  cursor: pointer;
}

.label-2 {
  position: relative;
  margin-right: auto;
  margin-left: 45px;
  cursor: pointer;
}

.label-1::after {
  position: absolute;
  right: -68px;
  top: 15px;
  content: "";
  z-index: 1;
  width: 58px;
  height: 24px;
  display: block;
  border-radius: 12px;
  border: 1px solid #E4E6E9;
  background-color: #fff;
}

.label-2::before {
  position: absolute;
  top: 18px;
  right: 137px;
  z-index: 15;
  content: "";
  width: 18px;
  height: 18px;
  background-color: #00D36D;
  display: block;
  border-radius: 50%;
  border: 1px solid #E4E6E9;
  transition: transform .5s ease;
}

.radio-1:checked  .label-2::before {
  transform: translateX(-68px);
}







@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {

}